@charset "utf-8";
/* 湖体_会员中心
 * Author: 朱茂华
 * Created: 2011-7-10
 */
/* reset */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; word-wrap:break-word }
body, html, input { color:#636363; font:14px/1.5 Tahoma, Arial, "\5B8B\4F53", Sans-serif;}
img, fieldset, abbr, acronym { border:0; }
table { border-collapse:collapse; border-spacing:0; }
caption, th { text-align:left; }
ol, ul, li { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:700; }
input, button, textarea, select { font-size:inherit;font-family:inherit; }
address, cite, dfn, em, code, var, caption, th, i { font-style:normal; font-weight:normal;}
input, label, th { vertical-align:middle; }
pre { white-space: pre-wrap; /* css-3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* Internet Explorer 5.5+ */ }
.white, .white a { color:#fff }
.blue, .blue a { color:#004499 }
.gray4, a.gray4 { color:#999 }
.red, .red a, a.red { color:red; }
.green { color:#0E774A }
select optgroup { color:#CAC8BB; }
/*通用样式*/
.hidden { display:none; }
.invisible { visibility:hidden; }
.ib, .ib-a a { display:inline-block; zoom:1; *display:inline;}
.cl { clear:both; height:0; margin:0; padding:0; font-size: 1px; line-height: 0px; }
.fl, .lf { float:left !important; }
.fr, .rt { float:right !important; }
.hand{ cursor:pointer;}
.f12 { font-size: 12px !important; }
.f14 { font-size: 14px !important; }
.f16 { font-size: 16px !important; }
.f18 { font-size:18px }
.f20 { font-size:20px }
.lh20 { line-height: 20px }
.lh22 { line-height: 22px }
.lh24 { line-height: 24px }
.lh26 { line-height: 26px }
.lh28 { line-height: 28px }
.fb { font-weight:bold }
.fn { font-weight:normal }
.w30{width:30px;}.w40{width:40px;}.w60{width:60px;}.w70{width:70px;}.w80{width:80px;}.w90{width:90px;}
/* 截字 让多出的文字以省略号出现 */
.t-fix { word-break:keep-all; text-overflow:ellipsis; -moz-text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
/* display */
.dis { display:block; }
.undis, .hide,.none { display:none; }
/* form */
fieldset legend { font-weight:700; }
input, button, select { vertical-align:middle; }
/*定义文字、链接颜色*/
a { color:#636363; text-decoration:none; cursor:pointer; }
a:hover { color:#f60; }
a:link, a:visited { text-decoration:none; }
a:hover, a:active { text-decoration:underline; }
.c_333, .c_333 a { color:#333 !important; }
a.c_333:hover, .c_333 a:hover { color:#346dff; text-decoration:underline; }
.c_999, a.c_999, .c_999 a { color:#999999 !important; }
a.c_999:hover, .c_999 a:hover { color:#f60; text-decoration:underline; }
.c_red, a.c_red { color:#ff0000 !important;}
.c_green, a.c_green { color:#359800 !important;}
.c_org, a.c_org, .c_org a { color:#f60 !important; }
a.c_org:hover { color:#ff0000; }
.c_blu, .c_blu a { color:#057BD2; }
a.c_blu:hover, .c_blu a:hover { color:#f60; text-decoration:underline; }

/*header*/
.reg_header { width:100%; height: auto; margin:0; padding:0px; background:#f6fbff url(/images/reg_topbg.gif) left -1px repeat-x; position:relative; }
.topbar { width:980px; height:28px; clear:both; overflow:hidden; line-height:28px; margin:0 auto;}
.topbar dl{ width:auto; float:left; padding:0 8px; height:28px; line-height:28px; text-align:left; color:#808080;}
.topbar dl a{ color:#808080;}
.topbar dl.state{ float:right; width:430px; text-align:right;}
.topbar dl.state a{ color:#ff6600; text-decoration:underline;}
.topbar dl.state a:hover{ color:#ff0000;}
.topbar dl.state em{ font-weight:bold; color:#ff7800;}
.topbar dl.state .login_out a{ color:#808080;}
.topbar dl.collect {width:150px; float:left; text-align:left;} 
.colormore { color:#269700;}
.toplogo_both { width:100%; height:78px;}
.toplogo { width:980px; height:78px; clear:both; margin:0 auto; overflow:hidden; background:url(/images/btn_phone.png) no-repeat right 40px;}
	.logo{ width:350px; float:left; height:78px;}
		.logo p{ float:left; margin:10px 0 0 5px;}
		.logo dl.reg{ float:left; width:126px; height:65px; margin:10px 0 0 5px; background:url(/images/register.gif) no-repeat left 0px;}
		.logo dl.pw{ float:left; width:126px; height:65px; margin:10px 0 0 5px; background:url(/images/register.gif) no-repeat left -100px;}
		
	.top_link { width:630px; height:49px; margin:0px 0 0 0; float:right; text-align:right; font-size:12px; color:#999;}
	.top_link ul{ width:auto; float:right; line-height:24px;}
	.top_link ul li{ float:left; padding:0 5px 0 0;}
	.top_link ul em{ color:#0060af;}
	.top_link ul a{ color:#0060af;}
	.top_link ul a:hover{ color:#ff6600;}
	
/*reg_main*/
.reg_both { width:100%; height: auto; margin:0px; padding:1px 0; border:0px; background:url(/images/reg_topbg.gif) left -79px repeat-x; position:relative; }
	.reg_flow{ width:1000px; height:30px; margin:0 auto; margin-top:8px; padding:10px 0 8px 0; clear:both; color:#999999; font-size:14px; border:1px solid #e5e5e5; background:#f8f8f8;}
	.reg_flow h2{ width:108px; float:left; line-height:30px; text-align:center; color:#333333; font-weight: bold; background:url(/images/reg_titfg.gif) no-repeat right center;}
	.reg_flow dl{ width:auto; float:left; padding:0 0 0 25px;}
	.reg_flow dt{ width:auto; float:right; line-height:30px; padding:0 10px 0 0; font-size:12px; text-align:right;}
	.reg_flow a{ color:#0060af; font-weight:bold; text-decoration:underline;}
	.reg_flow a:hover{ color:#ff6600;}
	
	.reg_main{ width:1000px; height: auto; margin:0 auto; margin-top:10px; padding:10px 0 20px 0; clear:both; font-size:14px;border:1px solid #c0cfde; background:#f5fbff;}
	.reg_main dl{ height:auto; clear:both; padding:15px 0 0 0;*padding:8px 0 0 0; line-height:24px;}
	.reg_main dl dt{ margin:0; padding:0;}
	.reg_main div.r_name{ width:270px; float:left; text-align:right;}
	.reg_main div.r_txt{ width:728px; float:right; text-align:left;}
	.reg_main dl dt.r_name{ width:270px; float:left; text-align:right; color:#0060af;}
	.reg_main dl dt.r_txt{ width:728px; float:right; text-align:left;}
	.reg_main dl dt span{ float:left;}
		.reg_main dl dt .r_tip{ float:left; padding:3px 0 0 5px; line-height:20px; font-size:12px;}
		.icon_correct{ width:16px; height:16px; display:block; margin:2px 3px 0px 3px; background:url(/images/reg_icon.gif) no-repeat left 0px;}
		.icon_wrong{ width:16px; height:16px; display:block; margin:2px 3px 0 0; background:url(/images/reg_icon.gif) no-repeat left -30px;}
		.r_refresh{ width:13px; height:13px; display:block; cursor:pointer; overflow:hidden; text-indent:-2000px; margin:2px 3px 0 0; background:url(/images/reg_icon.gif) no-repeat left -60px;}
		.r_yzm{ padding:0 5px;}
		input.regip{ width:180px; height:24px; padding:0 3px; line-height:24px; border:1px solid #669ac4;}
		input.reg_yzip{ width:60px; height:24px; padding:0 3px; line-height:24px; border:1px solid #669ac4;}
	.r_treaty { font-size:12px; line-height:20px; text-align:center;}
	.r_treaty a{ color:#ff6600;text-decoration:underline;}
	.r_btn{ text-align:center;}
		.btn_reg{ width:120px; height:36px; margin:0 auto; padding:0; border:0; display:block; font-size:14px; font-weight:bold; color:#fff; cursor:pointer; overflow:hidden; background:url(/images/btn_reg.gif) no-repeat left top;}
	
	.top_tip{ width:600px; margin:0 auto; padding:5px 10px 4px 10px; color:#b54800; font-size:12px; border:1px solid #ffd9ba; background:#fff3f3;}
	.top_ok{ width:600px; margin:0 auto; padding:5px 10px 4px 10px; color:#b54800; font-size:12px; border:1px solid #ffd9ba; background:#FFFFDD;}
	.r_tipeamil { clear:both; font-size:12px;}

/*footer*/
.footer{ width:1002px; height:auto; margin:0 auto; clear:both; text-align:center; padding:10px 0 20px 0; font-size:12px;}
	.bot_nav { width:auto; padding:5px 0 5px 0; clear:both; color:#999999; border:1px solid #c0cfde; background:#f8f8f8;}
	.bot_nav a{ color:#5b7e9b;}
	.bot_nav a:hover{ color:#ff6600;}
	
	.bot_copyright{ height: auto; padding:10px 0 0 0; line-height:20px; color:#999999;}
	.bot_linklogo_mrt{ height:auto; clear:both; padding:10px 0 0 0;}
	.bot_linklogo_mrt ul{ width:400px; margin:0 auto;}
	.bot_linklogo_mrt ul li { float:left; height:48px; text-indent:-2000px;}
	.bot_linklogo_mrt ul li a{ width:108px; height:48px; display:block; background:url(/images/bot_linklogo.gif) no-repeat;}
		.bot_linklogo_mrt ul li.b_link01{ width:108px; height:48px; overflow:hidden;}
		.bot_linklogo_mrt ul li.b_link01 a{ width:108px; height:48px; display:block; background-position:0px top;}
		.bot_linklogo_mrt ul li.b_link02{ width:102px; height:48px; overflow:hidden; margin:0 0 0 20px;}
		.bot_linklogo_mrt ul li.b_link02 a{ width:102px; height:48px; display:block; background-position:-136px top;}
		.bot_linklogo_mrt ul li.b_link03{ width:54px; height:48px; overflow:hidden; margin:0 0 0 20px;}
		.bot_linklogo_mrt ul li.b_link03 a{ width:54px; height:48px; display:block; background-position:-270px top;}
		.bot_linklogo_mrt ul li.b_link04{ width:46px; height:48px; overflow:hidden; margin:0 0 0 20px;}
		.bot_linklogo_mrt ul li.b_link04 a{ width:46px; height:48px; display:block; background-position:-345px top;}
