@{
    ViewBag.Title = "关于我们";    
}

@section Head{
    <link type="text/css" rel="stylesheet" href="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/css/part_a.css" />
}

<div class="pt10"><img src="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/images/0000000_2.jpg" width="970" height="141" /></div>
<div class="pt10">
    <div class="fl bs6">
        <div class="title bg1x bgp3">关于我们</div>
        <ul class="lists">
            <li class="c">关于我们</li>
            <li><a href="/home/intro">项目介绍</a></li>
            <li><a href="/Home/CustomerSupport">客户服务</a></li>
            <li><a href="/Home/Careers">招聘</a></li>
            <li><a href="/Home/Contact">联系我们</a></li>            
        </ul>
    </div>
    <div class="fl bs7">
   	<div class="title bg1x bgp6"><span class="bg1x bgp1">关于我们</span></div>
        <div class="text">
            <p class="a126"><strong>中国残疾人福利基金会</strong></p>
           	<p>
            中国残疾人福利基金会是全国性公募基金会,成立于1984年3月15日。宗旨是弘扬人道，奉献爱心，全心全意为残疾人服务。理念是“集善”，即集天下之善心,谋残疾人之福祉。工作目标是努力建设成为公开、透明、高效率和高公信力的世界一流基金会。
            </p>
            <p>
            中国残疾人福利基金会自成立以来，高举人道主义旗帜，大力倡导扶残助困的社会风尚，积极筹集资金，努力改善残疾人康复、教育、就业等方面状况。20多年来，在邓朴方会长的领导下，培育了“集善嘉年华”、“爱心永恒•启明行动”、“中国信息无障碍论坛”等一批有社会影响力的公益项目；形成了“集善工程”这一公益项目品牌；建立起一支朝气蓬勃、勇于创新的工作队伍，为推动社会文明进步做出了重要贡献。
            </p>
            <p>
            1988年，联合国授予中国残疾人福利基金会“和平使者奖”，授予邓朴方“残疾人十年特别奖”。2003年，联合国授予邓朴方“联合国人权奖”。
            </p>
            <p>
            2008年，在国家首次对基金会的评估考核中，中国残疾人福利基金会被评为5A级基金会。
            </p>
           	<p class="a126"><strong>中国银联股份有限公司</strong></p>
            <p >中国银联是经国务院同意，中国人民银行批准设立的中国银行卡联合组织，成立于2002年3月，总部设于上海。目前已拥有近400家境内外成员机构。 </p>
           	<p class="a126"><strong>喜彩股份有限公司</strong></p>
           	<p>喜彩股份有限公司，是中国香港上市公司在国内的投资企业。上市公司代码（8198HK）和（0200HK）为其集团公司。喜彩股份有限公司热衷并致力于帮助中国8500万残疾人，通过采用已经盛行的互联网技术，集合快速成长的中国电子商务交易，为残疾人建立起一年365天X24小时不间断的公众募捐网络。 </p>
        </div>
    </div>
</div>



