@{
    Layout = null;
}

document.write('<div class="b_bot">');
@*document.write('<p>');*@
document.write('版权所有: 2011-2015  京 ICP备07032180号     ');
document.write('<a target="_blank" style="color:#545454;" href="http://www.ichari.com/home/aboutus">关于我们</a>');
document.write(' | ');
document.write('<a target="_blank" style="color:#545454;" href="http://www.ichari.com/home/contact">联系我们</a>');
@*document.write('</p>');*@
document.write('</div>');

@*<div class="footer">
    	    <p>版权所有: 2011-2015  京 ICP备07032180号     <a href="#">关于我们</a>|<a href="#">联系我们</a></p>
        </div>*@
