@{
    ViewBag.Title = "项目介绍";    
}

@section Head{
    <link type="text/css" rel="stylesheet" href="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/css/part_a.css" />
}

<div class="pt10"><img src="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/images/0000000_2.jpg" width="970" height="141" /></div>
<div class="pt10">
    <div class="fl bs6">
        <div class="title bg1x bgp3">关于我们</div>
        <ul class="lists">
            <li><a href="/home/aboutus">关于我们</a></li>
            <li class="c">项目介绍</li>
            <li><a href="/home/customersupport">客户服务</a></li>
            <li><a href="/home/careers">招聘</a></li>
            <li><a href="/home/contact">联系我们</a></li>            
        </ul>
    </div>
    <div class="fl bs7">
   	<div class="title bg1x bgp6"><span class="bg1x bgp1">项目介绍</span></div>
        <div class="text">
            <p class="a126"><strong>公益项目介绍</strong></p>
           	<p>
            中国有1691万盲人，这是一个数量庞大、特别需要扶助的弱势群体。盲人失去视力、看不见物体，但由于功能代偿作用，他们往往在其他方面具有超乎常人的能力和秉赋。古今中外历史上，不乏功绩卓著、名垂青史的盲人典范，例如荷马、左丘明、鉴真、路易•布莱尔、海伦•凯勒等等；当代中国盲人中，不乏技艺精湛、成绩斐然的各领域专家，也不乏天资聪颖、极具潜质的可塑之才。
            </p>
            <p>
            目前中国有6～14岁学龄盲童约12万，他们有的对音律、乐理极具悟性，有的浑身充满文学细胞，有的富于按摩、把脉潜质……但是，由于许多盲童家庭贫寒，致使一些必备的学习图书和优秀读物无力购买，影响了他们阅读学习、拓展知识、开阔视野、提高素质，影响到他们成长成才，致使许多优秀盲童潜质得不到开发、技能得不到发展，最终无法实现自立自强。
            </p>
            <p>
            为此，“爱心零钱”项目所筹善款将用于“我为盲童送一本书”公益项目开展，将帮助贫困优秀盲童阅读中成长，用知识改变命运；项目实施依托中国盲文出版社覆盖全国各地盲校、特教学校的发行网络，将知识的载体、社会的关爱传递到盲童手中。
            </p>
            <p>
            了解更多“我送盲童一本书”项目信息请点击：<a href="http://songshu.cfdp.org.cn" target="_blank">http://songshu.cfdp.org.cn</a>
            </p>
           	<p class="a126"><strong>善款用途</strong></p>
            <p >
            “爱心零钱”项目所筹善款将用于中国残疾人福利基金会“我送盲童一本书”公益项目，捐赠的盲文读物寄发到全国各地盲童手中，为广大盲童提供他们所渴求的文化帮扶。
            </p>
           	<p class="a126"><strong>捐款说明</strong></p>
            <p >
            用户在网上购物交费时，使用“银联在线爱心支付”，可以选择捐赠零钱给中国残疾人福利基金会我送盲童一本书公益项目。捐款后，可访问集善网爱心平台，参加集善网提供的爱心抽奖活动。
            </p>
            <p>
            用户选择银联在线支付时，如选择参加爱心零钱捐赠行动，系统默认捐赠金额为角分归元的零钱数，用户也可以修改捐赠金额，上限为100元。如要捐赠大于100元的金额，请点击进入“中国残疾人福利基金会（<a href="http://www.cfdp.org" target="_blank">www.cfdp.org</a>）” 进行捐赠。
            </p>
            <p>
            捐赠订单支付成功后，系统将通过95516联机短信方式告知用户捐赠成功。捐赠成功后，用户将获得集善网提供的爱心抽奖机会。
            </p>
            
            <p class="a126"><strong>捐款规则</strong></p>
            <p>凭中国残疾人福利基金会集善工程捐款收据可申请免税。财政部、国家税务总局[2004]39号规定：纳税人通过中国境内非营利的社会团体、国家机关向教育事业的捐赠，准予在企业所得税和个人所得税前全额扣除。</p>
            <p>捐款10% 用于中国残疾人福利基金会的服务、筹资及管理成本（依据《基金会管理条例》第二十七条、第二十九条。）。 在您捐款时，可选择以下捐款方式：
            
            </p>
            <ul class="q_1">
                <li>银行汇款：<strong></strong>
                    <ul>
                        <li>户 名： 中国残疾人福利基金会</li>
                        <li>开户银行： 中国光大银行北京朝内支行</li>
                        <li>账 号：083502120100304558140 ( 只接受人民币捐赠 )
                            <ul class="q_11">
                                <li>35021488000001280 ( 只接受美元捐赠 )</li>
                                <li>35023888000000354 ( 只接受欧元捐赠 )</li>
                                <li>35021388000000521 ( 只接受港币捐赠 )</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>在线捐赠：
                <div class="q_12">
                互联网用户可登陆中国残疾人福利基金会网站（<a href="http://www.cfdp.org" target="_blank">www.cfdp.org</a>）进行在线捐款，用户在提交信息后，系统将自动生成一个捐赠序列号，如：DCS001030122058，用户可通过此号查询捐款到账情况。
                </div>
                </li>
                <li>现场捐赠
                    <ul >
                        <li>可直接前往中国残疾人福利基金会会捐款。</li>
                        <li>地址：北京市东城区北池子大街44号</li>
                        <li>邮编：100006</li>
                        <li>捐款时间为：上午 8：30-11：30 下午 13：30-17：00 (节假日休息)</li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>



