@charset "utf-8";
/* CSS Document */

body{font-family:"宋体","Arial Narrow"; font-size:12px; line-height:22px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,button,textarea,p,th,td{margin:0;padding:0;}
img{border:0;}
input,button,textarea,select,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
ol,ul{list-style:none;}
div{overflow:hidden; _zoom:1}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
/**
  *常用浮动
*/
.fl{float:left;}
.fr{float:right;}
.fld{float:left;_display:inline;}
.frd{float:right;_display:inline;}

.bg{background:#1D3647;}

/* 按钮 */
a.btn,a.btn_s{background-image:url(/Content/images/bg_btn.gif);border:0; text-align:center;cursor:pointer;color:#fff;}
a.btn{width:85px;height:28px; line-height:28px;font-size:14px;font-weight:bold;}
a.btn_s{width:44px;height:20px;line-height:20px; background-position:0px bottom;}

/* 链接按钮 */
input.btn,input.btn_s{background-image:url(/Content/images/bg_btn.gif);border:0; text-align:center;cursor:pointer;color:#fff;}
input.btn{width:85px;height:28px; line-height:28px;font-size:14px;font-weight:bold;}
input.btn_s{width:44px;height:20px;line-height:20px; background-position:0px bottom;}


.fott{font-size:44px; font-family:"黑体"; color:#046FB5;}

.login_cs table{line-height:34px; margin-left:25px; margin-top:25px; float:left; text-align:left;}
.login_cs .validation-summary-errors{float:left; margin-top:25px; line-height:34px; margin-left:10px;}

.ben_bt{font-size:18px;font-family:"黑体"; color:#FFF; padding-left:20px; padding-top:10px;}

.ben_pa{padding:10px;}
.ben_pa .menu{width:180px; border-left:#DEE5EC 1px solid; border-bottom:#DEE5EC 1px solid;  position:relative;  float:left; background:url(/Content/images/menu_bg1.gif);}
.ben_pa .menu .title{background:#6688a7; line-height:35px; font-size:14px; color:#FFF; font-weight:bold; text-align:center;}
.ben_pa .menu .menuitem{background:url(/Content/images/menu_bgs.gif) no-repeat; padding-bottom:20px; line-height:28px; padding-left:20px; font-size:14px; font-weight:bold;}
.ben_pa .menu .menuitem ul{margin-top:15px; line-height:24px; font-weight:normal; font-size:12px;}
.ben_pa .menu a,.ben_pa .menu a:hover{color:#000; text-decoration:none;}
.ben_pa .menu .current a ,.ben_pa .menu .current a:hover{color:#394900; font-weight:bold; text-decoration:none;}

.ben_pa .content{margin-left:200px; background:#F0F3F5;}
.ben_pa .submenu{background:#dfe5ec; line-height:35px;}
.ben_pa .submenu li{float:left; margin-left:15px;}
.ben_pa .submenu li a,.ben_pa .submenu li a:hover{color:#000;}
.ben_pa .submenu li.current a{font-weight:bold; color:#000;}

.q_usr {float:right;color:White;margin-right:20px;margin-top:10px;}
.q_usr a {color:White;}

.q_dst {border:solid 1px #ccc;padding:10px;font-size:16px;line-height:25px;}
.q_dst span.q_all {font-weight:bold;color:green;}
.q_dst ul {font-size:12px;margin-left:34px;margin-top:15px;}