<?xml version="1.0"?>
<ConfigInf xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <signMethod>MD5</signMethod>
  <securityKey>88888888</securityKey>

  <frontPayURL>http://222.66.233.201/UpopWeb/api/Pay.action</frontPayURL>
  <backPayURL>http://222.66.233.201/UpopWeb/api/BSPay.action</backPayURL>
  <queryURL>http://222.66.233.201/UpopWeb/api/Query.action</queryURL>

  <payParamsPredef>
    <version>1.0.0</version>
    <charset>UTF-8</charset>
    <merId>105550149170027</merId>
    <acqCode></acqCode>
    <merCode></merCode>
    <merAbbr>商户名称</merAbbr>
  </payParamsPredef>

  <payParams>
    <string>version</string>
    <string>charset</string>
    <string>transType</string>
    <string>origQid</string>
    <string>merId</string>
    <string>merAbbr</string>
    <string>acqCode</string>
    <string>merCode</string>
    <string>commodityUrl</string>
    <string>commodityName</string>
    <string>commodityUnitPrice</string>
    <string>commodityQuantity</string>
    <string>commodityDiscount</string>
    <string>transferFee</string>
    <string>orderNumber</string>
    <string>orderAmount</string>
    <string>orderCurrency</string>
    <string>orderTime</string>
    <string>customerIp</string>
    <string>customerName</string>
    <string>defaultPayType</string>
    <string>defaultBankNumber</string>
    <string>transTimeout</string>
    <string>frontEndUrl</string>
    <string>backEndUrl</string>
    <string>merReserved</string>
  </payParams>
  <payParamsNotEmpty>
    <string>version</string>
    <string>charset</string>
    <string>transType</string>
    <string>merId</string>
    <string>merAbbr</string>
    <string>orderNumber</string>
    <string>orderAmount</string>
    <string>orderCurrency</string>
    <string>orderTime</string>
    <string>customerIp</string>
    <string>frontEndUrl</string>
    <string>backEndUrl</string>
  </payParamsNotEmpty>

  <queryParams>
    <string>version</string>
    <string>charset</string>
    <string>transType</string>
    <string>merId</string>
    <string>orderNumber</string>
    <string>orderTime</string>
    <string>merReserved</string>
  </queryParams>

  <merReservedParams>
    <!--  NEW NAME                        OLD NAME -->
    <string>cardNumber</string>       <string>pan</string>
    <string>cardPasswd</string>       <string>password</string>
    <string>credentialType</string>   <string>idType</string>
    <string>cardCvn2</string>         <string>cvn</string>
    <string>cardExpire</string>       <string>expire</string>
    <string>credentialNumber</string> <string>idNo</string>
    <string>credentialName</string>   <string>name</string>
    <string>phoneNumber</string>      <string>mobile</string>
    <string>merAbstract</string>

    <!-- tdb only -->
    <string>orderTimeoutDate</string>
    <string>origOrderNumber</string>
    <string>origOrderTime</string>

  </merReservedParams>
</ConfigInf>
