body, td, th { font-size: 14px; margin:0; padding:0;}

div.yahoo { padding-right: 3px; padding-left: 33px; font-size:14px; padding-bottom: 3px; margin: 3px; padding-top: 3px; font-family:"ו", tahoma, helvetica, sans-serif; text-align: center }
div.yahoo a { border-right: #ccdbe4 1px solid; padding-right: 8px; background-position: 50% bottom; border-top: #ccdbe4 1px solid; padding-left: 8px; padding-bottom: 2px; border-left: #ccdbe4 1px solid; color: #0061de; margin-right: 3px; padding-top: 2px; border-bottom: #ccdbe4 1px solid; text-decoration: none }
div.yahoo a:hover { border-right: #2b55af 1px solid; border-top: #2b55af 1px solid; background-image: none; border-left: #2b55af 1px solid; color: #fff; border-bottom: #2b55af 1px solid; background-color: #3666d4 }
div.yahoo a:active { border-right: #2b55af 1px solid; border-top: #2b55af 1px solid; background-image: none; border-left: #2b55af 1px solid; color: #fff; border-bottom: #2b55af 1px solid; background-color: #3666d4 }
div.yahoo span.current { padding-right: 6px; padding-left: 6px; font-weight: bold; padding-bottom: 2px; color: #000; margin-right: 3px; padding-top: 2px }
div.yahoo span.disabled { display: none }
div.yahoo a.next { border-right: #ccdbe4 2px solid; border-top: #ccdbe4 2px solid; margin: 0px 0px 0px 10px; border-left: #ccdbe4 2px solid; border-bottom: #ccdbe4 2px solid }
div.yahoo a.next:hover { border-right: #2b55af 2px solid; border-top: #2b55af 2px solid; border-left: #2b55af 2px solid; border-bottom: #2b55af 2px solid }
div.yahoo a.prev { border-right: #ccdbe4 2px solid; border-top: #ccdbe4 2px solid; margin: 0px 10px 0px 0px; border-left: #ccdbe4 2px solid; border-bottom: #ccdbe4 2px solid }
div.yahoo a.prev:hover { border-right: #2b55af 2px solid; border-top: #2b55af 2px solid; border-left: #2b55af 2px solid; border-bottom: #2b55af 2px solid }

.yahoo input[type="text"]{ border:1px solid #ccdbe4; }
.goto { height:20px; line-height:14px; border:#ccdbe4 1px solid; border-left:0;color: #333; margin:0; padding:1px 5px; cursor:pointer; background:#eeeeee;}
#first,#last { font-style:normal;}
#first a,#last a{ overflow:hidden; border:#ccdbe4 1px solid; padding:2px 8px; }
.jilu {color:#999;}

.numb { line-height:20px; font-size:14px; margin:3px; padding:3px;float:left; width:auto;}
.numb a{ border:#ccdbe4 1px solid; margin:0 3px 0 0; padding:1px 6px; text-decoration:none;}
.numb a:hover { color:#fff; background:#3666d4;}
.numb .current { margin:0 3px 0 0; padding:0px 6px;border:#3666d4 1px solid; font-weight:bold; color:#fff; background:#3666d4;}
