@charset "utf-8";
/* CSS Document */

/*  ================= Common =================  */
body, div, ul, ol, li, h1, h2, h3,h4,p, form, fieldset, legend, input, button {
	margin:0;
	padding:0;
}
body,button,input,select,textarea{ 
	font:12px/150% Tahoma,Helvetica,Arial;
	color:#373738;
}
body{ 
	background:#fff;
}
ul,ol,li{ 
	list-style:none outside none;
} 
fieldset,img,outline{
	border:0;
}
input,
select{
	line-height:12px;
	vertical-align:middle;
	padding:2px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clears{ 
	clear:both;
}
.hidden{
	display:none;
}
/*  ================= Font ================= */
a, a:visited{
	color:#126ED6;
	text-decoration:underline;
}
a:hover, a:active{
	color:#116ed6;
	text-decoration:underline;
}
.red, .red:hover, .red:visited{
	color:#dd0a0d;
}
.blue, .blue:hover, .blue:visited{
	color:#126ed6;
}
.big_red{
	font-weight:bold;
	font-size:30px;
	color:#dd0a0d;
}
.green{
	color:#559236;
}
/*  ================= Base ================= */
.bg{
	background: #f0efef url(../images/bg_main.gif) left top repeat-x;
	width:100%;
	height:100%;
}
.bg_short{
	background: #f0efef url(../images/bg_main_short.gif) left top repeat-x;
	width:100%;
	height:100%;
}
.wrapper{
	width:970px;
	margin:0 auto;
}
.cover{
	background:#373738;
	width:100%;
	position:absolute;
	left:0;
	top:0;
	padding:4px 0;
}
.cover li{
	float:right;
	border-right:1px solid #f0efef;
}
.cover li.last_child{
	border:0;
}
.cover a,
.cover a:visited{
	padding:0 8px;
	color:#f0efef;
	text-decoration:none;
}
.cover a:hover{
	text-decoration:underline;
}
/* ================= Button =================  */
.btn_search{
	height:20px;
	border:0;
	background:#5f5f60;
	color:#fff;
	cursor:pointer;
	padding:2px 8px;
}
input.btn_big,
input.btn_big:hover{
	background:url(../images/bg_btn.gif) 0 0 no-repeat;
	width:113px;
	height:33px;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	border:0;
	cursor:pointer;
}
input.btn_big:hover{
	background-position:0 -33px;
}
.inp_normal{
	padding:5px;
	width:220px;
}
.inp_short{
	padding:5px;
	width:90px;
}
/* ================= Background =================  */
.logo_home,
.icon_phone,
.crumbs span,
.crumbs span.current{
	background:url(../images/bg.gif);
}
.nav,
.nav a,
.nav a:visited,
.nav a:hover,
.nav .current a, .nav .current a:visited, .nav .current a:hover{
	background:url(../images/bg_nav.gif) repeat-x;
	text-decoration:none;
}
/*  ================= Header =================  */
.header{
	padding:50px 0 20px 0;
}
.header_right{
	float:right;
	padding-top:25px;
	font-size:14px;
}
.search,
.header_right a,
.header_right span{
	float:right;
	margin-left:5px;
	text-decoration:none;
}
.header_right a:hover{
	text-decoration:underline;
}
.search{
	margin-left:10px;
}
.logo_home{
	width: 283px;
	height: 48px;
	background-position:0 0;
	overflow:hidden;
	text-indent:-999px;
	float:left;
}
.inp_search{
	border:1px solid #373738;
	height:18px;
	line-height:18px;
	padding:0 5px;
}
/*  ================= Navigation =================  */
.nav{
	width:100%;
	height:32px;
}
.nav,
.nav a,
.nav a:visited{
	background-position:0 0;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.nav a:hover{
	background-position:0 -44px;
	color:#fff;
	text-decoration:none;
}
.nav li.current a, .nav .current a:visited, .nav .current a:hover{
	background-position:0 -88px;
}
.nav li.current a{
	margin-top:-3px;
	height:21px;
	cursor:default;
}
.nav li{
	float:left;
	border-right:1px solid #268be0;
}
.nav li.last_child,
.nav li.current{
	border:0;
}
.nav li a{
	padding:7px 25px;
	display:inline-block;
}
.nav .location li{
	margin-left:20px;
}

.ad_box{
	width:975px;
	height:295px;
	background:url(../images/bg_ad.gif) 0 -5px no-repeat;
}
.ad_box img{
	margin:5px 5px 10px 5px;
	width:960px;
	height:280px;
}
.ad_box_btn{
	padding-top:5px;
}
.ad_box_btn a{
	float:right;
	margin-right:10px;
	width:14px;
	height:14px;
}


.cause{
	padding:15px 5px 10px 5px;
	_padding-top:10px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #abaaaa;
}
.cause span,
.cause img{
	float:left;
	margin-right:10px;
}
.icon_phone{
	width:40px;
	height:38px;
	background-position:-293px 0;
	margin-left:100px;
	display:inline;
}
.cause .big_red{
	float:right;
	margin:0;
}
.ad2{
	border-top:1px solid #fff;
	border-bottom:1px solid #abaaaa;
	padding:10px 5px;
}
.ad2 ul{
	background:#fff;
	padding:10px;
}
.ad2 li{
	display:inline-block;
	_display:inline;
	border-right:1px solid #d5d4d4;
	height:44px;
	padding:0 10px;
	font-size:14px;
	font-weight:bold;
}
.ad2 li.last_child{
	border:0;
}
.ad2 li span{
	float:left;
	line-height:44px;
}
.team{
	padding-bottom:15px;
	border-top:1px solid #fff;
	text-decoration:none;
}
.team p{
	margin-top:10px;
	font-size:14px;
	font-weight:bold;
}
.team a,
.team a:visited{
	margin-left:15px;
	color:#373738;
	text-decoration:none;
}
.team a:hover{
	color:#116ed6;
	text-decoration:underline;
	}
.footer{
	background:#fff;
	padding:20px 0;
	text-align:center;
	width:100%;
}
.footer a,
.footer a:visited{
	margin:0 10px;
	color:#373738;
}
.footer a:hover{
	color:#116ed6;
	}
/* Login */
.mainbox{
	background:#fff;
	width:100%;
	min-height:400px;
	_height:400px;
}
.guide{
	background:#ebebeb;
	border-bottom:8px solid #d9d9d9;
	padding:20px 80px;
}
.login{
	padding: 50px 80px 100px 80px;
}
.reg{
	padding-top:20px;
}
.login p{
	margin-top:20px;
}
.login label{
	display:inline-block;
	width:100px;
}
.login .btn_big{
	margin-left:100px;
}
.login a.forgot_text{
	margin-left:60px;
}
.login img{
	margin:0 5px;
	vertical-align:middle;
}
.crumbs{
	padding:30px 80px;
}
.crumbs span{
	float:left;
	width:421px;
	height:85px;
}
.crumbs span{
	background-position:0 -67px;
}
.crumbs .one .current{
	width:160px;
}
.crumbs .two .current{
	width:320px;
}
.crumbs span.current{
	background-position:0 -170px;
}
.login label.statement{
	width:500px;
	margin-left:100px;
}
.login span{
	color:#b2b2b2;
	margin-left:10px;
}
.login span.green{
	color:#559236;
	font-weight:bold;
}
.login span.red{
	color:#dd0a0d;
	font-weight:bold;
}
.congra{
	font-weight:bold;
	padding:30px 80px 0 80px;
	font-size:14px;
}
.congra img,
.change_ok img{
	vertical-align:middle;
	margin-right:20px;
}
.change_ok{
	padding:80px
}