<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ChariDbContainner" connectionString="metadata=res://*/ChariDb.csdl|res://*/ChariDb.ssdl|res://*/ChariDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.224.0.195;Initial Catalog=ichari.com;Persist Security Info=True;User ID=sa;Password=chariLot!@#$;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminEntities" connectionString="metadata=res://*/Admin.csdl|res://*/Admin.ssdl|res://*/Admin.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.224.0.195;Initial Catalog=admin.ichari.com;Persist Security Info=True;User ID=sa;Password=chariLot!@#$;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>