<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="ChariDbContainner" connectionString="metadata=res://*/ChariDb.csdl|res://*/ChariDb.ssdl|res://*/ChariDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=219.143.228.244;Initial Catalog=ichari.com;Persist Security Info=True;User ID=sa;Password=chariLot!@#$;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminEntities" connectionString="metadata=res://*/Admin.csdl|res://*/Admin.ssdl|res://*/Admin.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=219.143.228.244;Initial Catalog=admin.ichari.com;Persist Security Info=True;User ID=sa;Password=chariLot!@#$;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AdminEntities" connectionString="metadata=res://*/Admin.csdl|res://*/Admin.ssdl|res://*/Admin.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=admin.ichari.com;Persist Security Info=True;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AdminEntities" connectionString="metadata=res://*/Admin.csdl|res://*/Admin.ssdl|res://*/Admin.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=admin.ichari.com;Persist Security Info=True;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ChariDbContainner" connectionString="metadata=res://*/ChariDb.csdl|res://*/ChariDb.ssdl|res://*/ChariDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=ichari.com;Persist Security Info=True;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Memcached Server-->
    <add key="Memcached.ServerList" value="218.249.153.73:11211"/>
    <add key="SuperUser" value="root" />
    <add key="SuperUserPwd" value="47bce5c74f589f4867dbd57e9ca9f88" />
    <add key="DefaultUserPwd" value="123456" />
  </appSettings>

  <unity>
    <containers>
      <container>
        <types>
          <type type="Ichari.Uow.IAdminUow,Ichari.Uow" mapTo="Ichari.Uow.AdminUow,Ichari.Uow">            
            <constructor>
              <param name="entityName" >
                <value value="Admin" />
              </param>
            </constructor>
          </type>
          <type type="Ichari.IService.IActionsService,Ichari.IService" mapTo="Ichari.Service.ActionsService,Ichari.Service" />
          <type type="Ichari.Uow.IChariUow,Ichari.Uow" mapTo="Ichari.Uow.ChariUow,Ichari.Uow">
            <constructor>
              <param name="entityName" >
                <value value="Chari" />
              </param>
            </constructor>
          </type>
          <type type="Ichari.Uow.IDrawingsUow,Ichari.Uow" mapTo="Ichari.Uow.DrawingsUow,Ichari.Uow">
            <constructor>
              <param name="entityName">
                <value value="Drawings" />
              </param>
            </constructor>
          </type>
          <type type="Ichari.Uow.IContentUow,Ichari.Uow" mapTo="Ichari.Uow.ContentUow,Ichari.Uow" />
        </types>
      </container>
    </containers>
  </unity>
  
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
