<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--Memcached Server-->
  <add key="Memcached.ServerList" value="218.249.153.73:11211"/>
  <add key="SiteCookieName" value="ichari.com" />
  <add key="LotteryCookieName" value="cp" />
  <add key="UserSalt" value="CD1B00A61580893DAABF271E1730D61B"/>
  <add key="AESKeyFile" value="\bin\key" />
  <add key="DrawingChance" value="15" />
  <add key="PayUrlFormatter" value="http://localhost:8777/payment?orderid={0}&amp;tradeNo={1}&amp;source={2}"/>
  <add key="UPOPChariKey" value="88888888" />
  <add key="UPOPHost" value="http://58.246.226.99" />
  <add key="StaticServer" value="http://localhost:14970" />
  <add key="LotteryChannelUrl" value="http://localhost:1934"/>
  <add key="LotteryApiUrlFormatter" value="http://localhost:1934/api/{0}.aspx"/>
  <add key="IsEnableSyncToLottery" value="1"/>
  <add key="SyncRequestIp" value="127.0.0.1"/>
  <add key="SiteDomainName" value="localhost" />
</appSettings>