<?xml version="1.0" encoding="utf-8" ?>
<cacheConfiguration>
  <!--  timeSpan单位：分钟 -->
  <cacheList>
    
    <!--
      某个用户的缓存
      param:{0} - 用户id
    -->
    <cacheObj name="UserInfo.Get" key="/Userinfo/Get/{0}" timeSpan="60" isfailure="false"  ></cacheObj>

    <!--
      Content缓存
      param:{0} - content的tagName
    -->
    <cacheObj name="Content.GetList" key="/Content/GetList/{0}" timeSpan="60" isfailure="false"  ></cacheObj>
    
    <!--
      Winner List缓存
    -->
    <cacheObj name="WinnerList.GetList" key="/WinnerList/GetList" timeSpan="60" isfailure="false"  ></cacheObj>
    
  </cacheList>
</cacheConfiguration>
