@model Ichari.Admin.ViewModel.RoleViewModel

@{
    ViewBag.Title = "角色授权";    
}

<div class="search">
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>角色名称</td>
            <td>@Html.TextBox("roleName")</td>
            <td><input type="submit" value="查 询" /></td>
        </tr>
    </table>
}
</div>

<div class="list">
    角色名称：@Model.RoleModel.RoleName
</div>

@(Html.TreeView(Model.ActionTree)
    .EmptyContent("No locations have been defined yet!")
    .Children(m => m.SubNodes)
    .HtmlAttributes(new { id = "tree" })
    .ChildrenHtmlAttributes(new { @class = "subItem" })
    .ItemText(m => m.MenuName)
    .ItemTemplate(
        @<text>
            <a href="#@item.ID">@item.MenuName</a>
        </text>)
)




